@model IEnumerable<webTesteAPI.Models.tabelaAudiometria>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.nomePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataExame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeExame)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.nomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataExame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeExame)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
